.mission-list-container {
  padding: 2rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
  background-image: linear-gradient(to right, #e6e6e6, #f7fbff);
  color: rgb(8, 8, 92);
}

.mission-list-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.mission-list {
  list-style: none;
  padding: 0;
}

.mission-item {
  margin: 1rem 0;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.mission-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.mission-item a {
  text-decoration: none;
  color: #2C2C2C;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.mission-item a:hover {
  color: #00b3ff;
}

.mission-item img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
}

.mission-item-content {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination span {
  margin: 0 0.5rem;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .mission-item a {
    font-size: 1rem;
  }
}