.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2C2C;
    padding: 1rem;
    flex-wrap: wrap;
  }
  
  .navbar-brand a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    flex-wrap: wrap;
  }
  
  .navbar-links a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    color: #A30000;
  }
  
  .navbar-status {
    display: flex;
    align-items: center;
  }
  
  .status-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .status-circle.green {
    background-color: green;
  }
  
  .status-circle.red {
    background-color: red;
  }
  
  .status-circle.yellow {
    background-color: yellow;
  }
  
  @media (max-width: 600px) {
    .navbar-links {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-links a {
      margin: 0.5rem 0;
    }
  }